In [1]:
import pandas as pd
import streamlit as st

In [2]:
cities_df = pd.read_csv('data/lewagon_cities.csv')

In [3]:
cities_df

                    city        lat       lon
0               Bordeaux  44.834999 -0.575490
1                  Lille  50.629250  3.057256
2                   Lyon  45.767311  4.834310
3              Marseille  43.295021  5.374490
4                 Nantes  47.218262 -1.557180
5                   Nice  43.703169  7.182777
6                  Paris  48.858854  2.312041
7                 Rennes  48.115910 -1.723474
8          Fontainebleau  48.404700  2.701600
9  Saint-Germain-en-laye  48.898900  2.093800

In [13]:
def city_choice(city_name): 
    #if city_name in cities_df['city']:
    try:
        return cities_df.query(f'city == "{city_name}"').lat.values[0], cities_df.query(f'city == "{city_name}"').lon.values[0]
    except: 
        return

In [7]:
cities_df.query(f'city == "{city_name}"').lat.values[0]

NameError: name 'city_name' is not defined

In [17]:
print(list(city_choice('Fontainebleau')))

[48.4047, 2.7016]

In [9]:
a = st.button('Paris')

2022-03-09 12:02:27.190
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/adrien/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [24]:
def get_coordinates(city_name):
    try:
        return cities_df.query(f'city == "{city_name}"').lat.values[0], cities_df.query(f'city == "{city_name}"').lon.values[0]
    except:
        return "Please choose a valid location"

In [25]:
location = get_coordinates('Paris')

In [26]:
location

(48.8588536, 2.3120407)

In [28]:
list(get_coordinates('Fontainebleau'))

[48.4047, 2.7016]